/* share font */
.font {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #272727;
  }
  .back-color{
    background-color: #ed95a8;
  }
  nav{display: flex;
    justify-content: space-around;
    align-items: center;

  }
  h2{color: red;
    font-size: 40px;
    display: flex;

  }
  nav ul li{margin-left: 20px;
    padding: 10px;

  }
  nav ul{ list-style: none; display: flex; 

  }
  nav ul li a {text-decoration: none 

  }
  nav ul li a:hover {background-color: antiquewhite;

  }
  header{
    width: 1400px;
  }
  .container{
    border: 1px solid red;
    display: flex;
    width: 90%;
    margin: 0 auto;
    border: none;

  }
  .banner-text{
    width: 50%;
    margin: 100px 100px 0 100px;



  }
  .banner-img{
    width: 50%;

  }
  main{
    width: 1400px;
  }
  .h1-st{
    font-size: 70px;
    width: 900;

  }
  .p-st{

  }
  .b-color{
    background-color: #E55473;
    padding: 20px 43px;
    font-weight: 20px;
    padding: 20px;
    border: none
    ;border-radius: 10px;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.Feature{
  margin-top: 100px;
}
.text-sty{
  align-items: center;
  text-align: center;

}
.text-sty-p{
  text-align: center;
}
.container-cont{
  /* margin-top: 100px; */
  display: flex;
  /* justify-content: center; */
  /* flex-direction: column; */
  /* height: 605px; */
  /* width: 50%; */
  /* text-align: center; */
  margin-top: 48px;
  gap: 20px;

}
/* .two-img{
  margin-top: 3rem;
  border: 1px solid red;
} */
/* #sec-img{display: flex;
  margin-top: 5rem; */
.one-img,two-img,three-img{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50% 0 0;
}
}
.img-sty{
  display: flex;
  justify-content: space-around;
}
.f-title{
  display: flex;
  justify-content: space-evenly;
  font-size:24px ;
  font-weight: bold;
  margin-top: 2px;
  padding: 10px;
  margin: 5px;
  text-align: center;
}
.cl-24{
  display: flex;
  width: 70%; 
  justify-content: space-around;
  margin: 2rem auto;
  background-color:#ECECEC ;
  margin-top: 150px ;
  margin-bottom: 150px;
 border-radius: 8px;
 height: 250px;
 text-align: center;
 height: 300px;
 padding: 100px;
}
.insta-img{
  display: grid;
  margin-top: 40px;
  gap: 20px;
  display: flex;
 
}
.insta-text{
  text-align: center;
  align-items: center;
}
.add-section{
  display: flex;
  width: 1922;
  height: 620;
  background-color: #e5547348;
  justify-content: center;
}
.add-text{
  height: 228;
  width: 594;
  top: 50%;
}
.button-style{
  padding: 20px 20px;
}